#spectrum-container {
  position: fixed;
  bottom: 0;
  z-index: 10000;

  box-sizing: border-box;
  width: 100%;
  height: 155px;

  background: transparent;

  line-height: 1.5;
}

 .spectrum-container {
   background: white;
   height: 100%;
   width: 100%;
 }


#spectrum-articles-container-top-border {
  box-sizing: border-box;
  width: 100%;
  height: 5px;

  background: linear-gradient(to right, #1616E1, #F6A623, #DC1616);
}

#spectrum-articles-container {
  position: relative;

  box-sizing: border-box;
  width: 100%;
}

.spectrum-current-article-container .spectrum-article-image-container .spectrum-article-image {
  width: 60%;
  margin: auto;
  display: block;
}

.spectrum-article-image {
  width: 100%;
}

.spectrum-current-article-container, .spectrum-article-container {
  float: left;
  padding: 5px 10px;
  width: 32%;
  height: 130px;
}

.spectrum-article-headline a {
  text-transform: none;
}

.spectrum-current-article-container {
  background-color: #9494EA;
  color: white;
}

.spectrum-current-article-container .spectrum-article-source a {
  color: white;
}

.spectrum-article-container {
  box-sizing: border-box;
}

.spectrum-non-float-container {
  width: 100%;
  height: 100%;
  display: inline-table;
}

.spectrum-article-image-container {
  width: 35%;
}

.spectrum-container-cell {
  display: table-cell;
  vertical-align: middle;
}

.spectrum-article-image-container div {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.spectrum-article-image-container div,
.spectrum-more-link,
.spectrum-article-source {
  text-transform: uppercase;
}

.spectrum-article-image-container div,
.spectrum-more-link,
.spectrum-more-link a {
  font-size: 12px;
  font-weight: 300;
}

.spectrum-more-link a {
  cursor: pointer;
}

.spectrum-more-link[data-bias=L] a {
  color: #1616E1;
}

.spectrum-more-link[data-bias=LC] a {
  color: #9494EA;
}

.spectrum-more-link[data-bias=C] a {
  color: #F6A623;
}

.spectrum-more-link[data-bias=RC] a {
  color: #E77676;
}

.spectrum-more-link[data-bias=R] a {
  color: #DC1616;
}

.spectrum-article-body {
  width: 100%;
  padding: 5px 10px;
}

.spectrum-article-source {
  margin-bottom: 5px;

  font-family: sans-serif;
  font-size: 14px;
}

.spectrum-article-headline {
  margin-bottom: 10px;

  font-family: serif;
  font-size: 16px;
  color: #cccccc;
}

.pull-right {
  float: right;
  color: #D8D8D8;
}

/* MINIMIZE/CLOSE BUTTONS
*/

.spectrum-controller {
  position: relative;
  text-align: right;
  right: 15px;
  top: -10px;
  background: transparent;
}

.spectrum-controller button {
  background: transparent;
  border: none;
  color: black;
  padding: 0;
  cursor: pointer;
  padding: 0px 5px;
}

.spectrum-close,
.spectrum-minimize .spectrum-articles-container,
.spectrum-minimize .spectrum-show-if-open,
.spectrum-not-minimize .spectrum-show-if-minimized {
  display: none;
}

.spectrum-minimize#spectrum-container {
  height: 45px;
}

.spectrum-show-if-minimized img {
  height: 30px;
  border: 1px transparent solid;
}

.spectrum-show-if-minimized img:hover {
  border-color: lightgrey;
  border-radius: 5px;
}

.spectrum-minimize .spectrum-expand-icon {
  cursor: pointer;
}